@import '~antd/dist/antd.css';

#root,
.layout {
  height: 100%;
}

.logo {
  height: 31px;
  float: left;

  & img {
    height: inherit;
  }
}

.ant-layout-header {
  background: #0e64b7;
}

.steps-content {
  margin-top: 24px;
}
