@import '~antd/dist/antd.css';

#root,
.layout {
  height: 100%;
}

.logo {
  height: 31px;
  float: left;

  & img {
    height: inherit;
  }
}

.ant-layout-header {
  background: #0e64b7;
}

.ant-layout-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.steps-content {
  margin-top: 24px;
}

.pricing-actions {
  display: flex;
  justify-content: space-between;

  &__right {
    display: flex;
    & > button {
      margin-left: 20px;
    }

    & > h3 {
      line-height: 34px;
    }
  }
}
