@import url(~antd/dist/antd.css);
#root,
.layout {
  height: 100%;
}

.logo {
  height: 31px;
  float: left;
}
.logo img {
  height: inherit;
}

.ant-layout-header {
  background: #0e64b7;
}

.ant-layout-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.steps-content {
  margin-top: 24px;
}

.pricing-details {
  margin: 18px 0;
}
.pricing-details .ant-card {
  min-height: 100px;
}
.pricing-details .ant-spin {
  margin: 0 auto;
  width: 100%;
}

.pricing-actions {
  display: flex;
  justify-content: space-between;
}
.pricing-actions__right {
  display: flex;
}
.pricing-actions__right > button {
  margin-left: 20px;
}
.pricing-actions__right > h3 {
  line-height: 34px;
}
